{% include "sitio/header.html" %}

<main class="contenedor contenedor_about">
    <div class="about">
        <div class="about__tel">
            <div>
                <p class="about__saludo">!Hola¡ Mi nombre es</p>
                <div class="about__mix">
                    <h1 class="about__nombre">Erick Pichón Cuahtepitzi</h1>
                    <picture>
                        <source srcSet="image.avif" type="image/avif" />
                        <img class="about__imagen" src="/public/img/retrato-joven-sonriente-gafas_171337-4842_edited.jpg" alt="Foto de mi">
                    </picture>
                </div>
            </div>

            <div class="about__info">
                <p>Soy estudiante de noveno grado en la BUAP de la carrera Ingeniería en Ciencias de la Computación, 
                    apasionado por el mundo de la tecnología y sobre todo la programación debido a que me gusta 
                    ayudar a las personas a resolver sus problemas diseñando soluciones o sistemas que integran mis 
                    habilidades y aprendizaje adquirido hasta hoy.  
                </p>
                <br>
                <p>
                    Me gustan varios campos de la computación, como el desarrollo web, computación en la nube o soporte 
                    en tecnologías de la información por mencionar algunos, y cuento con solidos conocimientos en desarrollo
                    front-end y back-end, diseño en la experiencia al usuario, bases de datos, seguridad informática o 
                    también cloud computing etc. 
                    Me gusta aprender cada día más y seguir preparándome de mejor forma para realizar grandes proyectos y 
                    tener grandes oportunidades.
                </p>
            </div>
        </div>


        <div class="about__desk">
            <picture>
                <source srcSet="image.avif" type="image/avif" />
                <img class="about__imagen" src="/public/img/retrato-joven-sonriente-gafas_171337-4842_edited.jpg" alt="Foto de mi">
            </picture>

            <div class="about__info">
                <p class="about__saludo">!Hola¡ Mi nombre es</p>
                <h1 class="about__nombre">Erick Pichón Cuahtepitzi</h1>
                <p>Soy estudiante de noveno grado en la BUAP de la carrera Ingeniería en Ciencias de la Computación, 
                    apasionado por el mundo de la tecnología y sobre todo la programación debido a que me gusta 
                    ayudar a las personas a resolver sus problemas diseñando soluciones o sistemas que integran mis 
                    habilidades y aprendizaje adquirido hasta hoy.  
                </p>
                <br>
                <p>
                    Me gustan varios campos de la computación, como el desarrollo web, computación en la nube o soporte 
                    en tecnologías de la información por mencionar algunos, y cuento con solidos conocimientos en desarrollo
                    front-end y back-end, diseño en la experiencia al usuario, bases de datos, seguridad informática o 
                    también cloud computing etc. 
                    Me gusta aprender cada día más y seguir preparándome de mejor forma para realizar grandes proyectos y 
                    tener grandes oportunidades.
                </p>
            </div>

        </div>


    </div>

    <div class="linea"></div>

    <div>
        <div class="infoPersonal">
            <div class="infoPersonal__dato">
                <div class="iconoInfo">
                    <h3>Edad</h3>
                    <img class="iconoInfo__icono" src="/public/img/icons/birthday.svg" alt="Icono Cumpleaños">
                </div>
                <p class="iconoInfo__info">22 años</p>
                
            </div>
            <div class="infoPersonal__dato">
                <div class="iconoInfo">
                <h3>Mi ciudad</h3>
                    <img class="iconoInfo__icono" src="/public/img/icons/nacionalidad.svg" alt="Icono Nacionalidad">
                </div>
                <p class="iconoInfo__info">Tlaxcala, México</p>
            </div>
            <div class="infoPersonal__dato">
                <div class="iconoInfo">
                <h3>Universidad</h3>
                    <img class="iconoInfo__icono" src="/public/img/icons/school.svg" alt="Icono Escuela">
                </div>
                <p class="iconoInfo__info">Benemérita Universidad Autónoma de Puebla</p>
            </div>
            <div class="infoPersonal__dato">
                <div class="iconoInfo">
                <h3>Pasatiempos </h3><img class="iconoInfo__icono" src="/public/img/icons/tenis.svg" alt="Icono Deporte">
                </div>
                <p class="iconoInfo__info">Deporte, Estudiar y los videojuegos</p>
            </div>
        </div>
    </div>

 </main>

<div class="contenedor--experiencia" >
    <h2><center>A travéz del tiempo</center></h2>
    <div class="experiencia">
        <div class="experiencia__contenedor" data-aos="flip-left" data-aos-delay="100">
            <div class="experiencia__contenedor--fecha"><p>Junio 2020 - Agosto 2020</p><img class="experiencia__imagen" src="/public/img/Schneider.png" alt="Logo Snnaider"></div>
            <div class="experiencia__info">
                <h4 class="experiencia__contenedor--titulo">Schneider Electric</h4>
                <p class="experiencia__info--info">Operador General de las herramientas y máquinas siguiendo los procedimientos y manuales establecidos de la empresa,
                    di cumplimiento de la programación diaria de tareas y del plan de producción. Una de mis responsabilidades fue el arranque de línea, 
                    realizando ajuste de máquina según el producto y el control del correcto funcionamiento de las máquinas y equipos.</p>
            </div>
        </div>

        <div class="experiencia__contenedor" data-aos="flip-left" data-aos-delay="100">
            <div class="experiencia__contenedor--fecha"><p>Junio 2022 - Agosto 2022</p><img class="experiencia__imagenSEBN" src="/public/img/sebn.png" alt="Logo SEBN"></div>
            <div class="experiencia__info">
                <h4 class="experiencia__contenedor--titulo">SEBN Mx</h4>
                <p class="experiencia__info--info">En SEBN fui operador general de maquinaria y herramientas durante el proceso de producción, siempre tratando de cumplir las metas de producción que se establecían al inicio del día.</p>
            </div>
        </div>

        <div class="experiencia__contenedor" data-aos="flip-left" data-aos-delay="100">
            <div class="experiencia__contenedor--fecha"><p>Mayo 2023 - Noviembre 2023</p><img class="experiencia__imagen" src="/public/img/ine.png" alt="Logo INE"></div>
            <div class="experiencia__info">
                <h4 class="experiencia__contenedor--titulo">INE</h4>
                <p class="experiencia__info--info">Durante mi servicio social, tuve tareas de actualizacion de aplicaciones y paginas web, pero tambien tuve la oportunidad 
                    de crear sitios web funcionales e intuitivos para el personal del instituto trabajando con bases de datos
                    Tambien participe en la resolucion de problemas tecnicos y mantenimiento de sistemas informaticos, y ha sido una gran experiencia hasta el día de hoy, poder ser parte de un gran equipo de trabajo. 
            </div>
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="tercerParte">
        <div class="cursos">
            <h2 class="tercerParte__titulo">Mis Lecturas</h2>
            <ul>
                <div class="cursos__contenedor">
                        <div class="curso">
                            <li class="curso__titulo"> Desarrollo Web Completo con HTML5, CSS3, JS AJAX PHP y MySQL</li>
                            <p>Curso de poco mas de 80 horas, donde aprendí a desarrollar diversas tecnologías, además los sitios web que realice tienen funciones como 
                                creación de cuentas, recuperación de accesos, recibo de pagos entre muchas otras. También aprendí y apliqué las mejores prácticas.</p>
                            <a class="curso__enlace" href="https://ude.my/UC-e6c95b58-b1bc-4b7a-98c0-b05a00d365ad">URL de la credencial</a>
                        </div>

                        <div class="curso">
                            <li class="curso__titulo"> Google Cloud Computing Foundations: Cloud Computing Fundamentals</li>
                            <p>A partir de los videos de este curso aprendí los conceptos y recursos que cuenta la nube de Google, mediante los laboratorios conocí de infraestructura, redes, seguridad, manejo de información e inteligencia artificial en Google Cloud.</p>
                            <a class="curso__enlace" href="https://www.cloudskillsboost.google/public_profiles/cfda25a0-9071-4202-97b4-b7f073e781c2/badges/3819415?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share">URL de la credencial</a>
                        </div>

                        <div class="curso">
                            <li class="curso__titulo"> Create and Manage Cloud Resource</li>
                            <p>En este curso adquirí experiencia práctica con la herramientas y servicios de Google Cloud desde la escritura 
                                de comandos en la consola, implementación de maquinas virtuales, balance de cargas entre otras funciones.</p>
                            <a class="curso__enlace" href="https://www.cloudskillsboost.google/public_profiles/cfda25a0-9071-4202-97b4-b7f073e781c2/badges/3979794">URL de la credencial</a>
                        </div>

                        <div class="curso">
                            <li class="curso__titulo"> Soporte de Tecnologías de la Información de Google</li>
                            <p>En este certificado, compuesto por cinco cursos, me prepare para un entorno de soporte de TI y darles solución a los problemas de clientes, 
                                redes, sistemas operativos, administración de sistemas y seguridad.</p>
                            <a class="curso__enlace" href="https://www.coursera.org/account/accomplishments/professional-cert/KL23SHK9HHGR">URL de la credencial</a>
                        </div>
                </div>

            </ul>
            <a  href="https://www.linkedin.com/in/erick-pichon-cuahtepitzi-468a12213">Puede consultar más de mis Certificaciones en mi perfil de Linkedin</a>
        </div>

        <div class="skills">
            <h2 class="tercerParte__titulo">Skills</h2>
                <ul class="skill" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="100"
                data-aos-offset="0">
                    <li class="skill__s skill__s--l">HTML</li>
                    <li class="skill__s skill__s--l">CSS</li>
                    <li class="skill__s skill__s--l">JavaScript</li>
                    <li class="skill__s skill__s--l">Java</li>
                    <li class="skill__s skill__s--l">Python</li>
                    <li class="skill__s skill__s--l">Sass</li>
                    <li class="skill__s skill__s--l">C++</li>
                    <li class="skill__s skill__s--l">PHP</li>

                </ul>
                <ul class="skill" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="100"
                data-aos-offset="0">
                    <li class="skill__s skill__s--p">Figma</li>
                    <li class="skill__s skill__s--p">MySQL</li>
                    <li class="skill__s skill__s--p">VSC</li>
                    <li class="skill__s skill__s--p">GitHub</li>
                    <li class="skill__s skill__s--p">OBS</li>
                </ul>
                <ul class="skill" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="100"
                data-aos-offset="0">
                    <li class="skill__s skill__s--l">AJAX</li>
                </ul>
                </div>
            </div>
        </div>
    </div>

</div>

 

{% include "sitio/footer.html" %}