{% include "sitio/header.html" %}
<h2 class="titulo"><center>DepWebCamp</center></h2>
<div class="contenedor-2">
    <div class="video">
        <video src="/public/img/DevWebCamp - Inicio.mp4" autoplay loop width="90%" controls>
            Tu navegador no admite el elemento <code>video</code>.
        </video>
    </div>
</div>
<div class="contenedor">
    <div class="contenedor-proyectoE">
        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/camp2.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>En este sitio web, una empresa promociona su campamento de conferencias con ponentes expertos en diferentes tecnologías. Para la entrada al evento se tienen diferentes boletos con precios diferentes. 
                    También se da información como la ubicación o conferencias de los días del evento.</p>
                <p style="margin-top: 2vh;">Aún sigo trabajando para conseguir un host para este sitio web, por lo que por el momento no es posible interactuar 
                    con el sitio web, pero te dejo algunas imágenes de su implementación.</p>

            </div>
        </div>

        <div class="proyectoE">
            <div class="proyectoE__info">
                <p>Como usuario puedes registrarte para comprar un pase, ya sea gratis o el que ofrece una experiencia más grande.</p>
            </div>
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/camp4.png" alt="Imagen proyecto">
            </div>
        </div>

        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/camp5.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>Como administradores del evento se cuenta con un panel donde podemos realizar varias acciones, como ver a las personas registradas, la información de los ponentes, que impartirán las conferencias, 
                    así como añadir más o eliminarlos en caso de que se haya cancelado su participación. También podemos agregar nuevos eventos, evento y asignarlos a un ponente. </p>

            </div>
        </div>

        <div class="proyectoE">
            <div class="proyectoE__info">
                <p>Para que un usuario pueda comprar una entrada necesita pagar, y como pruebas realice pagos usando la API de PayPal.</p>
            </div>
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/camp0.png" alt="Imagen proyecto">
            </div>
        </div>


    </div>
</div>

<h2 class="titulo"><center>Más imágenes</center></h2>

<div class="contenedor">
    <div class="contenedor-imagenes">
        <img class="contenedor-imagenes__imagen"  src="/public/img/camp6.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/camp7.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/camp8.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/camp9.png" alt="Imagn Proyectos">

        <img class="contenedor-imagenes__imagen"  src="/public/img/camp10.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/camp11.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/camp12.png" alt="Imagn Proyectos">
    </div>

</div>
{% include "sitio/footer.html" %}