

  <footer class="footer">
    <div class="footer__redes">
        <a href="https://www.facebook.com/erick.pichon.16/"                      target="_blank"><label class="footer__redes-a"><i class="bi bi-facebook "></i>Facebook</label></a>
        <a href="https://www.linkedin.com/in/erick-pichon-cuahtepitzi-468a12213" target="_blank"><label class="footer__redes-a"><i class="bi bi-linkedin"></i>Linkedin</label></a>
        <a href="mailto:erick.pichonc@alumno.buap.mx" target="_blank"><label  class="footer__redes-a"><i class="bi bi-envelope-fill"></i>E-mail</label></a>
        <a href="https://github.com/Erick-bot-a11" target="_blank"><label  class="footer__redes-a"><i class="bi bi-github"></i>Github</label></a>
    </div>
    <div class="footer__info">
      <p>Erick Pichón 2023</p>
      <p>Contactame para crear tu portafolio!</p>
    </div>
  </footer>



  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="/public/java/animaciones.js"></script>
</body>

</html>