{% include "sitio/header.html" %}

<main class="cont">
  <div class="contenedor-encabezado">
  <div class="encabezado">
     <div class="encabezado__info " ><!--animate__animated animate__fadeInLeft -->
      <h3 style="margin-bottom: 2rem;">¡Hola!, Encantado de Verte Aquí, soy</h3>
      <h1 class="encabezado__nombre">  
        <span>
        Erick Pichón
        </span>
      </h1>
      <h3 class="h3animado">Estudiante de Ingeniería en Ciencias de la Computación</h3>
    </div>

    <!-- <div >
      <img  class="avatar_header"  src="/public/img/avatar.jpg" alt="Foto de mi">
    </div> -->
  </div>
</div>
</main>

<div class="cv" style="margin-top: 40px;">
  <p class="proyectoD__enlace"><a class="proyectoD__a"  href="/public/docs/CV.pdf" download="CV.pdf" >Descarga mi CV aquí </a></p>
</div>
<div class="pensamiento" ">
  <p>Sé que nunca dejas de aprender y para mí cada día es una nueva oportunidad para seguir formándome como profesional y crecer personalmente. 
    Es cierto que apenas estoy comenzando, pero estoy muy emocionado y motivado para los retos que vengan por delante, 
    preparándome por mi cuenta y con la ayuda de otros para así, ser una personal capaz y profesional de participar en grandes escenarios.  </p>
</div>

{% include "sitio/footer.html" %}