{% include "sitio/header.html" %}
<h2 class="titulo"><center>INE</center></h2>

<div class="contenedor-2">
    <div class="contenedor-proyectoE">
        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/ine1.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>Dentro de los Sistemas Institucionales de Puebla, el repositorio web es una forma fácil, sencilla y rápida de consultar los documentos de un empleado en el instituto.
                    Debido a que se encuentra hospedado en los servidores del INE, no es posible interactuar con este sitio debido a la sensibilidad de la información.
                    Además de este proyecto, trabaje en la actualización de otras funciones, este sistema.</p>
            </div>
        </div>

        <div class="proyectoE">

            <div class="proyectoE__info">
                <p>Un usuario del sistema pude consultar un expediente y ver los documentos que se encuentran ahí, sin embargo, 
                    no podrá subir un nuevo documento o alterar los existentes, no así un administrador quien tiene todas estas funciones.</p>

            </div>
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/ine2.png" alt="Imagen proyecto">
            </div>
        </div>

        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/ine3.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>Un administrador puede asignarle a los usuarios la cantidad de recursos a los que tienen acceso.</p>

            </div>
        </div>
    </div>
</div>

<h2 class="titulo"><center>Más imágenes</center></h2>

<div class="contenedor">
    <div class="contenedor-imagenes">
        <img class="contenedor-imagenes__imagen"  src="/public/img/ine4.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/ine5.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/ine6.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/ine7.png" alt="Imagn Proyectos">

    </div>

</div>

{% include "sitio/footer.html" %}