{% include "sitio/header.html" %}

<h2 class="titulo"><center>Salón de belleza</center></h2>

<div class="contenedor">
    <div class="contenedor-proyectoE">
        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/salon1.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>Como cliente del negocio de un salón de belleza puedes agendar citas para mayor flexibilidad, es necesario 
                    crear una cuenta en este sitio web, si ya la tienes pues puedes iniciar sesión, o si olvidaste tu contraseña puedes restablecerla. 
                    Todas estas funciones hacen consultas a una base de datos para verificar que los datos sean correctos, además uso MailTrap para enviar correos a mi mismo y crear cuentas como testing, así que en el entorno de producción aún no están disponibles todas estas funciones. 
                    Sin embargo puedes iniciar sesión con una cuenta de demostración, y probar las funciones del sistema.</p>
                <p>Debido a otros factores, al entrar al sitio web puede marcarlo como peligroso, pero te aseguro que es totalmente seguro.</p>
                <p><center>Usuario de Ejemplo: demostracion@correo.com</center></p>
                <p><center>Contraseña: 222222</center></p>
                <p class="proyectoD__enlace"><a class="proyectoD__a"  href="https://salonpichon.000webhostapp.com/" target="_blank">Ver Sitio Web</a></p>

            </div>
        </div>

        <div class="proyectoE">

            <div class="proyectoE__info">
                <p>Como usuario puedes seleccionar servicios, (que son dinamicos) seleccionar una hora de la cita y confirmar la reserva.</p>

            </div>
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/salon2.png" alt="Imagen proyecto">
            </div>
        </div>

        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/salon3.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>Si eres un administrador del sistema (dueño del salón de belleza) puedes ver las citas programadas para una fecha, ver los servicios 
                    que tienes disponibles y si lo requieres editar el precio o el nombre, así como eliminarlo. También puedes agregar nuevos servicios disponibles.</p>

            </div>
        </div>
    </div>
</div>

<h2 class="titulo"><center>Más imágenes</center></h2>

<div class="contenedor">
    <div class="contenedor-imagenes">
        <img class="contenedor-imagenes__imagen"  src="/public/img/salon4.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/salon5.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/salon6.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/salon7.png" alt="Imagn Proyectos">

        <img class="contenedor-imagenes__imagen"  src="/public/img/salon8.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/salon9.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/salon10.png" alt="Imagn Proyectos">
    </div>

</div>
{% include "sitio/footer.html" %}