{% include "sitio/header.html" %}
<h2 class="titulo"><center>Uptask</center></h2>

<div class="contenedor">
    <div class="contenedor-proyectoE">
        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/uptask1.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>Este sitio web consta de un sistema que administra los proyectos de un usuario, este puede crearse una cuenta y en el panel principal puede crear varios proyectos y después
                     asignar tareas para este. Puede marcar las tareas con diferentes banderas, como completas o pendientes.</p>

                <p style="margin-top: 2vh;">Aún sigo trabajando para conseguir un host para este sitio web, por lo que por el momento no es posible interactuar 
                    con el sitio web, pero te dejo algunas imágenes de su implementación.</p>
            </div>
        </div>

        <div class="proyectoE">

            <div class="proyectoE__info">
                <p>Como usuario puedes crear nuevos proyectos y asignar tareas</p>

            </div>
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/uptask2.png" alt="Imagen proyecto">
            </div>
        </div>

        <div class="proyectoE">
            <div class="">
                <img class="proyectoE__imagen" src="/public/img/uptask3.png" alt="Imagen proyecto">
            </div>
            <div class="proyectoE__info">
                <p>También puedes cambiar la información de tu perfil.</p>

            </div>
        </div>
    </div>
</div>

<h2 class="titulo"><center>Más imágenes</center></h2>

<div class="contenedor">
    <div class="contenedor-imagenes">
        <img class="contenedor-imagenes__imagen"  src="/public/img/uptask4.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/uptask5.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/uptask6.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/uptask7.png" alt="Imagn Proyectos">
        <img class="contenedor-imagenes__imagen" src="/public/img/uptask8.png" alt="Imagn Proyectos">

    </div>

</div>

{% include "sitio/footer.html" %}