/** Media Queries **/
p {
  font-family: sans-serif;
  font-size: 17px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.linea {
  border-top: 1px solid #c8c8c0;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 10px auto;
  margin: 5vh 0;
}

.icono {
  width: 40px;
}

.icono-sm {
  width: 20px;
}

.btn-ver {
  background: linear-gradient(90deg, rgb(50, 92, 255) 0%, rgb(50, 164, 255) 42%, rgb(50, 157, 255) 84%);
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.titulo {
  margin: 12vh 0 2vh 0;
  font-weight: 700;
}

.video {
  text-align: center;
}

.enlace-iner {
  width: fit-content;
}

.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 15vh;
}
@media (max-width: 480px) {
  .contacto {
    display: flex;
    gap: 3vh;
  }
}
@media (min-width: 768px) {
  .contacto {
    gap: 3vh;
  }
}

.formulario__submit {
  margin-top: 5vh;
  border: none;
  padding: 0.5rem 1rem;
  color: rgb(25, 151, 0);
  background-color: rgb(215, 255, 207);
}
.formulario__submit:hover {
  background-color: rgb(117, 218, 97);
  color: white;
  cursor: pointer;
}

.campo {
  margin-bottom: 4vh;
}
.campo label {
  width: 10vh;
  color: rgb(31, 191, 0);
}
.campo input {
  width: 80%;
  padding: 0.5rem;
}
@media (max-width: 480px) {
  .campo input {
    width: 100%;
  }
}

.campo-mensaje {
  display: flex;
}
.campo-mensaje label {
  width: 11vh;
  color: rgb(31, 191, 0);
}
.campo-mensaje textarea {
  width: 80%;
  padding: 0.5rem;
}
@media (max-width: 480px) {
  .campo-mensaje textarea {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .campo-mensaje {
    flex-direction: column;
  }
}

.alerta {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: rgb(25, 151, 0);
  background-color: rgb(215, 255, 207);
  padding: 1vh 0;
}

.cabecera {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  z-index: 1;
}
@media (max-width: 540px) {
  .cabecera {
    background-color: #050608;
    height: 70px;
  }
}

.navegacion {
  padding: 7px 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegacion__enlaces {
  display: flex;
  gap: 2vh;
}
@media (max-width: 540px) {
  .navegacion__enlaces {
    display: none;
  }
}
.navegacion__enlace {
  transition: background-color 0.5s;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 1px 8px;
  font-weight: 500;
  border-radius: 10px;
}
.navegacion__enlace:hover, .navegacion__enlace:active {
  background-color: black;
  color: white;
}
.navegacion__numero {
  font-size: 5px;
}
@media (max-width: 690px) {
  .navegacion {
    padding: 7px 3%;
  }
}
@media (max-width: 540px) {
  .navegacion {
    padding: 7px 7%;
  }
}

@media (max-width: 540px) {
  .active {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fcf9ea;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  .active .navegacion__enlaces {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 25px;
    gap: 5vh;
  }
  .active .logo {
    position: absolute;
    top: 1%;
  }
  .active .navegacion-lista {
    position: absolute;
    top: 1.3%;
    right: 7%;
    background-image: url(/public/img/icons/x-circle.svg);
  }
}

.navegacion-lista {
  display: none;
}
@media (max-width: 540px) {
  .navegacion-lista {
    display: block;
    background-image: url(/public/img/icons/three-dots.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.logo {
  width: 65px;
  background-color: white;
  border-radius: 40px;
  transition-duration: 500ms;
}
.logo:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
@media (max-width: 540px) {
  .logo {
    width: 55px;
  }
}

.footer {
  background: #4a4a4a;
  margin-top: 3vh;
  color: white;
  padding: 5vh 4vh 6vh 8vh;
  display: flex;
  justify-content: space-between;
  gap: 20vh;
}
.footer__redes {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.footer__redes-icono {
  margin-right: 3vh;
}
@media (min-width: 768px) {
  .footer__redes a {
    width: 15vh;
  }
}
@media (min-width: 1500px) {
  .footer__redes a {
    width: 25vh;
  }
}
.footer__redes-a {
  color: white;
  font-size: 20px;
}
.footer__redes-a:hover {
  cursor: pointer;
}
.footer__redes-b {
  color: rgb(31, 191, 0);
  font-size: 20px;
}
.footer__redes-b:hover {
  cursor: pointer;
}
@media (max-width: 480px) {
  .footer {
    display: block;
  }
  .footer__redes {
    margin-bottom: 2vh;
  }
}

.cont {
  background-image: url("/public/img/fondo6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-top: 5%;
}
@media (max-width: 540px) {
  .cont {
    background-image: url("/public/img/fondo21.jpg");
    background-size: cover;
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .cont {
    height: 100%;
  }
}
@media (min-width: 1500px) {
  .cont {
    padding: 0 10%;
    height: 90vh;
  }
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  padding: 8vh 0;
}

.contenedor-2 {
  width: 90%;
  margin: 0 auto;
  padding: 2vh 0;
}

.contenedor-encabezado {
  width: 90%;
  margin: 0 20%;
  padding: 8vh 0;
}
@media (min-width: 768px) {
  .contenedor-encabezado {
    margin: 0px 2%;
  }
}
@media (max-width: 480px) {
  .contenedor-encabezado {
    margin: 0px 2%;
  }
}
@media (min-width: 540px) {
  .contenedor-encabezado {
    margin: 0;
  }
}

.encabezado {
  display: grid;
}
.encabezado__info {
  padding: 0 20vh;
}
.encabezado__info h3 {
  font-weight: 700;
}
@media (max-width: 540px) {
  .encabezado__info {
    padding: 13vh 2vh;
    color: antiquewhite;
  }
}
@media (min-width: 540px) {
  .encabezado__info {
    padding: 6vh 5vh;
  }
}
@media (min-width: 768px) {
  .encabezado__info {
    padding: 0 8vh;
  }
}
.encabezado__nombre {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
}
@media (max-width: 540px) {
  .encabezado__nombre {
    margin-bottom: 4vh;
  }
}
.encabezado__nombre span {
  background: url("/public/img/fondo-letras5.jpg") repeat-y;
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  display: block;
  color: black;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 20s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-backface-visibility: hidden;
}
@media (max-width: 540px) {
  .encabezado__nombre span {
    font: 700 3em/1 "Oswald", sans-serif;
    letter-spacing: 1;
  }
}
@media (min-width: 768px) {
  .encabezado__nombre span {
    font: 700 4em/1 "Oswald", sans-serif;
  }
}
@media (min-width: 1500px) {
  .encabezado__nombre span {
    font: 700 5em/1 "Oswald", sans-serif;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.avatar_header {
  width: 70vh;
  width: 59vh;
  border-radius: 50%;
}

.pensamiento {
  background: beige;
  color: black;
  text-align: center;
  margin: 0;
  padding: 3% 7%;
}
@media (max-width: 480px) {
  .pensamiento {
    padding: 3% 7%;
  }
}
@media (min-width: 768px) {
  .pensamiento {
    margin: 5% 0;
  }
}
@media (max-width: 768px) {
  .pensamiento {
    margin-top: 20px;
  }
}
@media (min-width: 1500px) {
  .pensamiento {
    padding: 1% 7%;
    margin: 2% 0;
  }
}

.h3animado {
  padding: 0 11vh 0 0;
}

.contenedor_about {
  margin-top: 5%;
}

.about {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 3vh;
}
.about__nombre {
  font-size: 10vh;
  font-weight: 700;
}
.about__desk {
  display: none;
}
.about__mix {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .about {
    width: 95%;
    grid-template-columns: 1fr;
    gap: 5vh;
  }
  .about__imagen {
    width: 70%;
    border-radius: 10%;
  }
  .about__nombre {
    font-size: 7vh;
  }
}
@media (min-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
  }
  .about__mix {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: end;
  }
  .about__imagen {
    width: 100%;
    border-radius: 10%;
  }
  .about__nombre {
    font-size: 500%;
    text-align: initial;
  }
}
@media (min-width: 1024px) {
  .about {
    width: 100%;
    margin: 0 auto;
  }
  .about__tel {
    display: none;
  }
  .about__desk {
    display: flex;
    flex-direction: row;
    gap: 8vw;
  }
  .about__imagen {
    width: auto;
  }
}
@media (min-width: 1440px) {
  .about {
    width: 80%;
  }
}

.infoPersonal {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .infoPersonal {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: 1vh;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .infoPersonal {
    width: 95%;
    margin: 0 auto;
    gap: 3vh;
  }
}

.iconoInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconoInfo__icono {
  width: 60px;
}
.iconoInfo__info {
  font-size: 2.5vh;
  text-align: center;
}
.iconoInfo h3 {
  font-size: 4vh;
  color: #ff2f8b;
  margin: auto 1vh auto 0;
}
@media (max-width: 768px) {
  .iconoInfo {
    justify-content: center;
  }
  .iconoInfo__icono {
    width: 40px;
  }
  .iconoInfo__info {
    font-size: 17px;
  }
  .iconoInfo h3 {
    font-size: 2vh;
  }
}
@media (min-width: 768px) {
  .iconoInfo h3 {
    font-size: 25px;
  }
  .iconoInfo__icono {
    width: 40px;
  }
  .iconoInfo__info {
    font-size: 18px;
  }
}
.contenedor--experiencia {
  background-color: rgba(0, 161, 182, 0.067);
  padding: 1vh 0 5vh 0;
}
.contenedor--experiencia h2 {
  margin: 5vh 0;
}

.experiencia {
  width: 80%;
  margin: 0 auto;
  display: flex;
  color: rgb(0, 0, 0);
  gap: 2vh;
  flex-direction: column;
}
.experiencia__imagen {
  width: 200px;
}
.experiencia__imagenSEBN {
  width: 100px;
}
.experiencia__contenedor {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px 20px;
  border-radius: 20px;
  gap: 20px;
  border: 1px solid #b4b4ff;
}
@media (max-width: 480px) {
  .experiencia__contenedor {
    grid-template-columns: 1fr;
  }
}
.experiencia__contenedor:hover {
  background: rgb(205, 226, 251);
}
.experiencia__contenedor:hover .experiencia__contenedor--fecha {
  color: #8383ea;
}
.experiencia__contenedor:hover .experiencia__contenedor--titulo {
  color: #3c8bff;
}

.tercerParte {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 4vh;
}
.tercerParte__titulo {
  text-align: center;
  color: #3c8bff;
  margin: 5vh 0;
}
@media (max-width: 480px) {
  .tercerParte {
    grid-template-columns: 1fr;
  }
}

.curso {
  margin: 3vh 0;
}
.curso__titulo {
  font-size: 18px;
  font-weight: 700;
}
.curso__enlace {
  text-decoration: none;
  color: blue;
}

.skill {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  transition-delay: 0.1s;
}
.skill__s {
  padding: 5px 10px;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 1.5rem;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}
.skill__s--l {
  background: rgba(153, 153, 153, 0.2);
  color: #666;
}
.skill__s--p {
  background: rgba(106, 240, 119, 0.2);
  color: #63ba65;
}
.skill__s--pro {
  background: rgb(75, 4, 246);
  color: #ffffff;
  margin-right: 1vh;
}

.container-icons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 500;
}

.bi-plus-circle-fill {
  font-size: 50PX;
  transition: all 300ms;
  color: #E44C36;
}

.container-icons:hover .bi-plus-circle-fill {
  transform: rotate(180deg);
}

.row-icon {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  transition: all 300ms;
  opacity: 1;
  padding: 5px;
}

.container-icons:hover .row-icon {
  opacity: 1;
}

.row-icon h4 {
  transform: translate(-10px, 10px);
  background: rgba(0, 0, 0, 0.6);
  height: 20px;
  font-weight: 300;
  padding: 2px 2px;
  color: white;
  border-radius: 5px;
}

.row-icon label {
  font-size: 40px;
}

.icon1 {
  transform: translate(-100px, -40px) scale(0);
  color: blue;
}

.icon2 {
  transform: translate(0px, -90px) scale(0);
  color: #ff6464;
}

.icon3 {
  transform: translate(-96px, -180px) scale(0);
  color: blue;
}

.icon4 {
  transform: translate(-10px, -250px) scale(0);
  color: #47ee47;
}

.icon5 {
  transform: translate(0, -350px) scale(0);
  color: black;
}

.container-icons:hover .icon1 {
  transform: translate(0px, -50px) scale(1);
}

.container-icons:hover .icon2 {
  transform: translate(0px, -100px) scale(1);
}

.container-icons:hover .icon3 {
  transform: translate(0px, -150px) scale(1);
}

.container-icons:hover .icon4 {
  transform: translate(0px, -200px) scale(1);
}

.container-icons:hover .icon5 {
  transform: translate(0px, -250px) scale(1);
}

.bi-facebook:hover {
  cursor: pointer;
}

.bi-linkedin:hover {
  cursor: pointer;
}

.bi-github:hover {
  cursor: pointer;
}

.bi-envelope-fill:hover {
  cursor: pointer;
}

.bi-whatsapp:hover {
  cursor: pointer;
}

.contenedor_proyectosP {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .contenedor_proyectosP {
    margin: 0;
  }
}

.contenedor_proyectoP {
  flex: none;
  padding: 1rem;
}
@media (max-width: 480px) {
  .contenedor_proyectoP {
    width: 100%;
    min-height: 259px;
  }
}
@media (min-width: 768px) {
  .contenedor_proyectoP {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .contenedor_proyectoP {
    width: 33.3333%;
  }
}

.proyectoP {
  position: sticky;
  overflow: hidden;
  border-radius: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 250px;
}
.proyectoP__titulo {
  text-align: center;
}
.proyectoP__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 1rem;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.proyectoP__imagen {
  transform: scale(1);
  transition: 0.25s ease-in-out;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.proyectoP__lista {
  list-style: none;
}
.proyectoP__detalles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proyectoP__enlace {
  color: #0dfdd3;
}
.proyectoP:hover {
  background-color: #064578;
}
.proyectoP:hover .proyectoP__imagen {
  transform: scale(1.1);
  opacity: 0;
}
.proyectoP:hover .proyectoP__descripcion {
  opacity: 1;
}

.contenedor_proyectosD {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: auto;
  margin-top: 40px;
  padding: 0 1vh;
}

.contenedor_proyectoD {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5vh;
  margin-bottom: 7vh;
}
@media (min-width: 768px) {
  .contenedor_proyectoD {
    grid-template-columns: 1fr 2fr;
    gap: 3vh;
    align-items: center;
  }
  .contenedor_proyectoD:nth-of-type(4n) {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 480px) {
  .contenedor_proyectoD {
    display: flex;
    flex-direction: column;
  }
  .contenedor_proyectoD:nth-child(4n) {
    flex-direction: column-reverse;
  }
}

.proyectoD {
  display: flex;
  align-items: center;
}
.proyectoD__imagen {
  width: 100%;
  padding: 2vh;
  border-radius: 3vh;
  transform: perspective(100px) rotateY(3deg);
}
.proyectoD__imagen:nth-child(even) {
  transform: perspective(100px) rotateY(357deg);
}
.proyectoD__titulo {
  text-align: center;
}
.proyectoD__enlace {
  text-align: center;
  margin-top: 2vh;
}
.proyectoD__a {
  padding: 1vh 3vh;
  border: 3px solid black;
  color: black;
}
.proyectoD__a:hover {
  background-color: black;
  color: white;
}
@media (max-width: 480px) {
  .proyectoD__imagen {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .proyectoD__imagen {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.contenedor-proyectoE {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.proyectoE {
  display: grid;
  gap: 6vh;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.proyectoE:nth-child(even) {
  grid-template-columns: 1fr 1fr;
}
.proyectoE__imagen {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 480px) {
  .proyectoE {
    display: flex;
    flex-direction: column-reverse;
  }
  .proyectoE:nth-child(even) {
    flex-direction: column;
  }
}

.contenedor-imagenes {
  display: grid;
  gap: 6vh;
  align-items: center;
}
.contenedor-imagenes__imagen {
  max-width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .contenedor-imagenes {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .contenedor-imagenes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1500px) {
  .contenedor-imagenes {
    grid-template-columns: repeat(3, 1fr);
  }
}