@use "mixins" as m;

.contenedor_about{
    margin-top:5%; ;
}
.about{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr ; 
    margin-top: 3vh;
    &__nombre{
        font-size: 10vh;
        font-weight: 700;
    }
    &__desk{
        display: none;
    }
    
    &__mix{
        text-align: center;
        margin-bottom: 20px;
    }
    @include m.telefono{
        width: 95%;
        grid-template-columns: 1fr; 
        gap: 5vh;

        &__imagen{
            width: 70%;
            border-radius: 10%;
        }
        &__info{

        }
        &__nombre{
            font-size: 7vh;
        }
    }


    @include m.tablet{
        grid-template-columns: 1fr; 
        margin: 0;
        width: 100%;
        &__mix{
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            justify-items: end;
        }
        &__imagen{
            width: 100%;
            border-radius: 10%;
        }
        &__nombre{
            font-size:  500%;
            text-align: initial;
        }
    }

    @include m.desktop{
        width: 100%;
        margin: 0 auto;
        &__tel{
            display: none;
        }
        &__desk{
            display: flex;
            flex-direction: row;
            gap: 8vw;
        }
        &__imagen{
            width: auto;
        }
        
    }
    @include m.desktopM{
        width: 80%;
    }


}

.infoPersonal{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: center;

    @include m.tabletMax{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        gap: 1vh;
        align-items: flex-start;
    }
    @include m.tablet{
        width: 95%;
        margin: 0 auto;
        gap: 3vh;
    }
}

.iconoInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    &__icono{
        width: 60px;
    }

    &__info{
        font-size: 2.5vh;
        text-align: center;
    }

    h3{
        font-size: 4vh;
        color: #ff2f8b;
        margin: auto 1vh auto 0;
    }

    @include m.tabletMax{
        justify-content: center;
        &__icono{
            width: 40px;
        }
        &__info{
            font-size: 17px;
        }
        h3{
            font-size: 2vh;
        }
    }

    @include m.tablet{
        h3{
            font-size: 25px;
        }
        &__icono{
            width: 40px;
        }
        &__info{
            font-size: 18px;
        }
    }

    @include m.max9{

    }
    
}
.contenedor--experiencia{
    background-color: rgba(0, 161, 182, 0.067);
    padding: 1vh 0 5vh 0;
    h2{
        margin: 5vh 0;
    }
}
.experiencia{
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: rgb(0, 0, 0);
    gap: 2vh;
    flex-direction: column;

    &__imagen{
        width: 200px;
    }
    &__imagenSEBN{
        width: 100px;
    }
    &__contenedor{
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 20px 20px;
        border-radius: 20px;
        gap: 20px;
        border: 1px solid #b4b4ff;
        @include m.telefono{
            grid-template-columns: 1fr;
        }

        &:hover{
            .experiencia__contenedor--fecha{
                color: #8383ea;;
            }
            .experiencia__contenedor--titulo{
                color:  #3c8bff;
            }
            background: rgb(205 226 251);
        }
    }

}

.tercerParte{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 4vh;
    &__titulo{
        text-align: center;
        color: #3c8bff;
        margin: 5vh 0;
    }
    @include m.telefono{
        grid-template-columns: 1fr;
    }
}

.curso{
        margin: 3vh 0;
    &__titulo{
        font-size: 18px;
        font-weight: 700;
    }
    &__enlace{
        text-decoration: none;
        color: blue;
    }

}

.skills__contenedor{
}


.skill{
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    transition-delay: .1s;
    &__s{
        padding: 5px 10px;
        margin-bottom: 1rem;
        text-align: center;
        margin-right: 1.5rem;
        font-size: 16px;
        border-radius: 5px;
        font-weight: 600;
        &--l{
            background: rgba(153, 153, 153, 0.2);
            color: #666;
        }
        &--p{
            background: rgb(106 240 119 / 20%);
            color: #63ba65;
        }
        &--pro{
            background: rgb(75 4 246);
            color: #ffffff;
            margin-right: 1vh;
        }
    }
}