@use "variables" as v;
@use "mixins" as m;


.footer{
    background: #4a4a4a;
    margin-top: 3vh;
    color: white;
    padding: 5vh 4vh 6vh 8vh;
    display: flex;
    justify-content: space-between;
    gap: 20vh;
    &__redes{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        
        &-icono{
            margin-right: 3vh;
        }
        @include m.tablet{
            a{
                width: 15vh;
            }
        }
        @include m.desktopB{
            a{
                width: 25vh;
            }
        }
    }
    &__redes-a{

        color: white;
        font-size: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    &__redes-b{

        color: rgb(31 191 0);
        font-size: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    &__info{

    }

    @include m.telefono{
        display: block;
        &__redes{
            margin-bottom: 2vh;
        }
    }
    
}